* {
	padding: 0;
	margin:0;
	border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	color: black;
	font-family: 'Oswald', sans-serif;
	background: #fefefe;
}

body.active {
	background: #111111;
}


a{
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

footer {
	display: none;
}

.conteiner {
	width: 100%;
	height: 2000px;
}

.content {;
	width: 1600px;
	margin:0 auto;
}

.mySkills {
	width: 100%;
	display: flex;
	height: 300px;
	margin-top:200px;
	opacity: 0;
	transform: translate(-50px,0);
	transition: all 0.8s ease-out;
}

.mySkills.active {
	transform: translate(0,0);
	opacity: 1;
}

.secS {
	margin-top: 100px;
	height: 500px;
}

.secS .titT {
	height: 500px;
}

.secS .titT p {
	margin-top:240px;
}

.vertB {
	display: flex;
	height: 50%;
}

.skilS .vertB div {
	display: flex;
	width: 50%;
} 

.skilS .vertB .numb {
	width: 20%;
	line-height: 250px;
	color: orange;
	font-size: 30px;
	justify-content:center;
}

.skilS .vertB .opis {
	width: 80%;
	display: flex;
	justify-content:center;
	align-items: center;
}

.skilS .vertB .opis p{
	text-align: center;
	font-size: 30px;
}

.secS.active {
	transform: translate(0,0);
	opacity: 1;
}

.titT {
	width: 40%;
	height: 300px;
	text-align: center;
	background: #f7f7f7;
	opacity: 0.9;
}

.titT.active {
	background: #1f1f1f;
}

.titT p {
	font-size: 30px;
	margin-top:110px;
}

.skilS {
	width: 60%;
	letter-spacing: 1.3px;
}

.skilS_anim {
	transform: translate(0,80px);
	transition: all 0.95s ease-out;
}

.skilS_anim.active {
	transform: translate(0,0);
}

.skilS p {
	font-size: 18px;
	margin:15px 25px;
	line-height: 1.5;
}

.skilS li {
	margin-left:55px;
}

.content__about-me {
	position: relative;
	display: flex;
	justify-content: space-around;
	max-height: 600px;
	transform: translate(-50px,0);
	transition: all 0.75s ease-out;
	opacity: 0;
}

.content__about-me.active {
	opacity: 1;
	transform: translate(0,0);
}

.contacts {
	position: relative;
	width: 1600px;
	margin:0 auto;
	opacity: 0;
	transform:translate(-30px,0);
	transition: all 0.75s ease-out;
}

.contacts.active {
	opacity: 1;
	transform:translate(0,-10px);
}

.flex-style {
	display: flex;
	justify-content: space-around;
}

.myImg {
	width: 800px; /*800px*/
	padding: 30px;
	display: flex;
}
.myImg img {
	height: 400px;
	width: 400px;
	margin: 95px auto 0 auto;
	border-radius: 50%;
	transform: translate(-55px,0);
}

.myTxt {
	position: relative;
	width: 800px; /*800px*/
	margin:80px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.blackStyle {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	top:100px;
	border-radius: 50%;
	border: 1px solid orange;
	background: #111111;
	transition: background 0.7s ease-out;
}

.blackStyle:hover {
	cursor: pointer;
}

.blackStyle.active {
	background:#fefefe;
}

.myTxtSec {
	margin-top: 100px;
	width: 800px;
	display: flex;
	justify-content: space-between;
	letter-spacing:2px;
}

.myTxtSec div {
	width: 33.3%;
}

.myTxt img {
	width: 40px;
	height: 40px;
}

.myTxt .acc {
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
}

.acc1 {
	top: 270px;
	right:100px;
}

.acc2 {
	top: 270px;
	right:50px;
}

.acc3 {
	top: 270px;
	right: 0;
}


.myTxt img:hover {
	cursor: pointer;
}

.myTxt .ico.active {
	filter: invert(100%);
}

.myTxt .dIv {
	width: 800px;
	height: 70%;
}

.myTxt .dIv .h1 {
	text-align: left;
	font-size: 50px;
}

.myTxt .dIv h1 {
	text-align: left;
	font-size: 100px;
	line-height: 0.8;
	color: orange;
}

.myTxt .dIv .footTxt {
	line-height: 4;
	font-size: 22px;

}

.myTxt .dIv span {
	display: block;
	height: 2px;
	background: black;
	margin:250px 0;
}

@media screen and (max-width: 1620px){

	.conteiner {
		width: 100%;
	}

	.content {
		width: 1280px;
	}

	.myImg {
		width: 640px; /*800px*/
	}

	.myTxt {
		width: 640px; /*800px*/
	}

	.myTxtSec {
		width: 640px;
	}

	.skilS p {
		font-size: 15px;
	}
}

@media screen and (max-width: 1300px){

	.conteiner {
		width: 100%;
	}

	.content {
		width: 1024px;
	}

	.myImg {
		width: 512px; /*800px*/
	}

	.myTxt {
		width: 512px; /*800px*/
	}

	.myTxtSec {
		width: 512px;
	}
}

@media screen and (max-width: 1100px){

	.conteiner {
		height: 2300px;
	}

	.content__about-me {
		display: block;
	}

	.myImg img {
		width: 512px;
		height: 512px;
		border-radius: 0;
		margin: 0 0 0 145px;
	}

	.content {
		width: 700px;
	}

	.myImg {
		width: 700px; /*800px*/
		padding: 0;
		display: flex;
	}

	.myTxt {
		margin:50px auto;
		width: 665px; /*800px*/
	}

	.myTxtSec {
		margin-top:450px;
		width: 665px;
	}

	.mobV {
		width: 0px;
	}

	.blackStyle {
		display: none;
	}

	.content__button_black-theme {
		width: 95%;
		height: 60px;
		margin:30px auto 0 auto;
		color: white;
		font-size: 30px;
		background: #111111;
		display: flex;
		align-items: center;
		justify-content:center;
	}

	.content__button_black-theme.active {
		background: #fefefe;
		color: black;
	}

	.content__button_black-theme:after {
		content: 'Темная тема'
	}

	.skilS p {
		font-size: 18px;
		margin-top:0;
	}

	.mobT {
		display: none;
	}

	.myTxt .dIv span {
		width: 100%;
		margin:100px auto;
	}

	.myTxt .acc {
		display: none;
	}

	footer {
		display: flex;
		width: 700px;
		justify-content:space-around;
		background: #fefefe;
	}

	.footer.active {
		background: #111111;
	}

	footer .f-ico.active {
		filter: invert(100%);
	}

}

@media screen and (max-width: 710px){

	.myImg img {
		width: 285px;
		height: 285px;
		margin:0 0 0 63px;
	}

	.content {
		width: 300px;
	}

	.myImg {
		width: 300px; /*800px*/
	}

	.myTxt {
		/*margin:50px auto;*/
		width: 285px; /*800px*/
	}

	.myTxtSec {
		margin-top:180px;
		width: 285px;
		font-size: 12px;
	}

	.mobV {
		width: 0px;
	}

	.content__button_black-theme {
		height: 45px;
	}

	.content__button_black-theme:after {
		content: 'Темная тема'
	}

	.skilS p {
		font-size: 18px;
		margin-top:0;
	}

	.myTxt .dIv span {
		width: 100%;
		margin:50px auto;
	}

	footer {
		display: flex;
		margin:0 auto;
		width: 300px;
		bordr:1px solid black;
	}

	footer .f-ico {
		width: 40px;
		height: 40px;
	}


}
